import os
import numpy as np
import torch
import torch.nn as nn
import torchaudio
import shutil
import torchaudio.transforms as transforms
import matplotlib.pyplot as plt
from torch.utils.data import DataLoader, Dataset, random_split
import pandas as pd
import torch.nn.functional as F
from torch.nn import init
import random
import time
import subprocess
import wave
from IPython.display import Audio, clear_output
from pydub import AudioSegment
from pydub.silence import split_on_silence
from sklearn.metrics import confusion_matrix, f1_score